* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.link {}

.background-body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 64%, #ffffff 100%);
}

header {
    background-color: rgb(43, 138, 201);
    color: rgb(51, 41, 87);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 1rem;
}

.tagline {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
    text-align: center;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 4rem, 4rem, 4rem, 0rem;
}

h1:link {
    color: white;
}

h1:visited {
    color: white;
}

h3 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    border: solid white 4px;
    /* border: 6px solid green; */
}

.habits {
    flex-flow: row wrap;
    /* border: 3px solid darkslategrey; */
    padding: 2rem;
    align-self: auto;
    width: 200px;
    word-wrap: inherit;
}

.button-link {
    flex-flow: row, wrap;
    color: white;
    background-color: rgb(227, 144, 106);
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
    text-align: center;
    padding-left: 40px;
    padding-top: 70px;
    font-size: 300%;
    max-width: 200px;
    min-height: 260px;
    /* border-radius: 20%; */
    padding-bottom: 4px;
    border: solid white 4px;
}

.button-link:hover {
    background-color: rgb(150, 22, 47);
    color: white;
}


/* .button-link :hover {
    flex-flow: row, wrap;
    color: white;
    background-color: white;
    padding: 2rem;
} */

.nav-bar {
    color: white;
    background-color: darkslategrey;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    align-self: right;
    font-size: 110%;
    text-align: center;
    /* border-radius: 20%; */
}

p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-bottom: 1rem;
}

.goal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60%;
    margin-left: 0;
    text-align: left;
    padding-bottom: 1rem;
}

.description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    margin-left: 0;
    text-align: left;
    padding-bottom: 1rem;
}

.log-container {
    padding: 4rem, 4rem, 4rem, 4rem;
}

.log {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    text-transform: uppercase;
    margin-left: 0;
    text-align: left;
    color: red;
}

.form {
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.small-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
}

.small-button {
    flex-flow: row;
    border: solid rgb(227, 144, 106) 2px;
    padding: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    align-self: right;
    font-size: 75%;
    border-radius: 50px;
    margin: 4 px;
}

.small-button:hover {
    background-color: rgb(150, 22, 47);
}