{% extends 'base.html' %} {% block content %}

<div class='container'>
    <a class="button-link" href={% url 'create-habit' %}>
        <p>New Habit
        </p>

    </a> {% for habit in habits %}

    <div class='habits'>
        <h3>{{habit.name}}</h3>
        <div class='description'><b>Goal: </b>{{habit.action|capfirst}} {{habit.goal}} {{habit.unit|capfirst}}{{habit.goal|pluralize}} per {{habit.timeframe|capfirst}}</div>
        <a class="small-button" href={% url 'edit-habit' habit.pk %}>Edit</a>
        <a class="small-button" href={% url 'log' habit.pk %}>Log</a>
        <a class="small-button" href={% url 'delete-habit' pk=habit.pk %}>Delete</a>
        <p><b>Log: {{tracker.updated_at}} {{tracker.input_units}}</b></p>
    </div>
    {% endfor %}

</div>
{% endblock %}