{% extends 'base.html' %} {% block content %}

<div class='container'>
    <a class="button-link" href={% url 'create-habit' %}>
        <p>New Habit
        </p>

    </a> {% for habit in habits %}

    <div class='habits'>
        <h3>{{habit}}</h3>
        <div class='description'><b>Goal: </b>{{habit}} {{habit.goal}} {{habit.goal_units}} per {{habit.timeframe}}</div>
        <a class="small-button" href={% url 'edit-habit' habit.pk %}>Edit</a>
        <a class="small-button" href={% url 'habit'}>Log</a>
        <a class="small-button" href={ % url 'delete-habit' habit.pk %}>Delete</a>
    </div>
    {% endfor %}

</div>
{% endblock %}