{% extends 'base.html' %} {% block content %}

<div class='container'>
    <a class="button-link" href={% url 'create-habit' %}>
        <p>New Habit
        </p>

    </a> {% for habit in habits %}

    <div class='habits'>
        <h3>{{habit}}</h3>
        <div class='description'>{{habit.description |truncatewords:50}}</div>
        <div class='goal'>{{habit.daily_goal}}</div>
        <a class="small-button" href={% url 'edit-habit' habit.pk %}>Edit</a>
        <a class="small-button" href='google.com'>Log</a>
        <a class="small-button" href='google.com'>Delete</a>
    </div>
    {% endfor %}

</div>
{% endblock %}